/* Colors */
:root {
    --primary: #8e44ad;
    --hover: #D980FA;
}

/* Body */

body {
    background-color: #12CBC4;
    width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px 20px;
    font-size: 110%;
    font-weight: bold;
}

/* Quiz Container*/

.start-container, 
.question-container, 
.question-container-0, 
.question-container-1, 
.question-container-2, 
.question-container-3,
.game-over-container,
.high-score-container {
    background-color: white;
    display: block;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

.btn {
    background-color: var(--primary);
    color: white;
    display: block;
    padding: 5px;
    border-radius: 5px;
}

#start-btn {
    margin: 0 auto;
}

.answer-btn {
    margin: 10px 10px 10px 20px;
}

.next-btn {
    margin: 30px auto 0 auto;
    font-size: 125%;
}

.rightWrong {
    border-top: solid grey;
    margin: 20px 10px 10px 10px;
    padding-top: 10px;
    font-size: 120%;
    font-weight: bold;
}

.button-container {
    margin: 0 auto;
}

/* Hide */
.hide {
    display: none;
}